@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Bellota Text', cursive;
}
body
{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   width: 100%;
   background: #f2f3f7;
}
.container
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}
.container .card
{
   width: 330px;
   height: 416px;
   padding: 60px 30px;
   margin: 20px;
   background: #f2f3f7;
   box-shadow: 0.6em 0.6em 1.2em #d2dce9,
               -0.5em -0.5em 1em #ffffff;
   border-radius: 20px;
   backdrop-filter: blur(10px);
   display:flex;
   justify-content: center;
   align-items: center;
}
.container .card .content
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   opacity:0.7;
   transition:0.5s;

}
.container .card .content .imgBx
{
   width: 180px;
   height: 180px;
   border-radius: 50%;
   position: relative;
   margin-bottom: 20px;
   overflow: hidden;
}
.container .card .content .imgBx img
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.container .card .content .contentBx h4
{
   color: #36187d;
   font-size: 1.7rem;
   font-weight: bold;
   text-align: center;
   letter-spacing: 1px;
}
.container .card .content .contentBx h5
{
   color: #6c758f;
   font-size: 1.2rem;
   font-weight: bold;
   text-align: center;
}
.container .card .content .sci
{
   margin-top: 20px;
}
.container .card .content .sci a
{
   text-decoration: none;
   color: black;
   font-size: 30px;
   margin: 10px;
   transition: color 0.4s;
}
/*.container .card .content .sci a:hover
{
   color: #0196e3;
}*/
.container .card:hover .content{
    opacity: 1;
    transform:translateY(-20px);

}
.container .card .sci li
{
    list-style:none;
    margin:0 10px;
    background:#f2f3f7;
    border-radius:50px;
    height:60px;
    width:60px;
    line-height:60px;
    transform:translateY(40px);
    transition:0.5s;
    opacity:0;
    transition-delay:calc(0.1s * var(--i));
}
.container .card:hover .sci li
{
    transform:translateY(0px);
    opacity:1;

}
.container .card .sci
{
    display:flex;
}
.container .card .sci li a i{
   font-size:40px;
   line-height:60px;
}
.container .card .sci li:nth-child(2):hover
{
   background:#E1306C;
}
.container .card .sci li:nth-child(1):hover
{
   background:#3b5998;
}
/*.container .card .sci li:nth-child(3):hover
{
   background:#1DA1F2;
}*/
.container .card .sci li:nth-child(1)
{
   padding-left:5px;
}
.container .card .sci li:nth-child(2)
{
   padding-left:2px;
}
.container .card .sci li:nth-child(3)
{
   padding-left:1.5px;

}
.container .card .sci li:nth-child(3):hover{
   background: #211f1f79;
}



/*   colors
         #f2f3f7
        #d2dce9
        #36187d
        #6c758f
        #0196e3
 */